.arcade.-repositorio {
    background-color: #7a4451;
    width: 230px;
    height: 135px;
    border: 5px solid #300f17;
    border-radius: 50%;
    box-shadow: 
    15px 15px 0px #502834,
    18px 17px 0px #000,
    40px 35px 0px #2d10171f;
    text-decoration: none;
    text-align: center;
    font-family: 'Press Start 2P', 'sans-serif';
    font-size: 35px;
    color: #ff9b9b;
    padding: 105px 0px 0px 0px;
    transition: transform 150ms linear;
    margin: 0px 0px 0px 20px;
}

.arcade.-repositorio:hover {
    position: relative;
    box-shadow: 
    10px 8px 0px #502834,
    13px 10px 0px #000,
    35px 30px 0px #2d10171f;
    transform: translate(5px, 6px);
}

.arcade.-repositorio:active {
    transform: translate(17px,20px);
    box-shadow: 4px 1px 0px #000;
}

.arcade.-repositorio {
    margin: 0px 30px 0px 0px;
}

.arcade.-repositorios1 {
    display: flex;
}

.arcade.-repositorios2 {
    display: flex;
    margin: 30px 0px 0px 100px;
}

.arcade.-joystick {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 800px;
    margin: 0px 50px 0px 0px;
}

.arcade.-components {
    display: flex;
    align-items: center;
}

.arcade.-base {
    background-color: #5f2f3d;
    width: 310px;
    height:310px;
    border: 5px solid #300f17;
    border-radius: 50%;
    box-shadow: 
    5px 5px 0px #3d1f28,
    7px 6px 0px #000,
    20px 15px 0px #2d10171f;
    position: relative;
}

.arcade.-point {
    background-color: #291419;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    position: relative;
    right: 180px;
}

.arcade.-iron {
    background-color: #808080;
    width: 135px;
    height: 20px;
    border: 3px solid #300f17;
    border-left: 10px solid #000;
    border-radius: 15%;
    transform: rotate(-70deg);
    position: relative;
    box-shadow: 
    -2px 0px 0px #000000c2,
    1px 10px 0px #0000001f;
}

.arcade.-ball {
    background-color: #7a4451;
    width: 125px;
    height: 125px;
    border: 5px solid #300f17;
    border-radius: 50%;
    box-shadow: 25px 20px 0px #0000001f;
    position: relative;
    right: 200px;
    bottom: 120px;
}

.arcade.-alert {
    display: flex;
    background-color: #c41026;
    height: 90px;
    color: #fff;
    font-family: 'Press Start 2P';
    font-size: 70px;
    align-items: center;
    box-shadow: 10px -10px 0px #000;
    position: absolute;
    margin: 0px 170px 0px 0px;
    transform: rotate(-20deg);
    opacity: 60%;
}