.banner {
    background-image: url(../../IMG/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
    border-bottom: 4px solid #000C27;
    padding: 50px 0px 0px 0px;
}

.banner .wrapper {
    display: flex;
}

.banner .gif {
    height: 700px;
    width: 600px;
    margin: 100px 0px 0px 200px;
}

.banner .text {
    flex-direction: column;
    width: 900px;
    margin: 250px 0px 0px 100px;
}

