.banner {
    background-image: url(../../IMG/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
    border-bottom: 6px solid #000C27;
    padding: 150px 0px 0px 0px;
}

.banner .wrapper {
    display: flex;
    justify-content: space-evenly;
}

.banner .gif {
    height: 700px;
    width: 400px;
    margin: 0px 0px 0px 150px;
}

.banner .text {
    flex-direction: column;
    width: 900px;
    margin: 150px 0px 0px 200px;
}

