.button.-cv {
    display: inline-block;
    background-color: #006765;
    box-shadow: 3px 5px 0px #000C27;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    font-family: 'Fira Code', 'sans-serif';
    font-size: 22px;
    text-align: center;
    padding: 20px 0px 0px 0px;
    transition: transform 100ms linear;
    margin-right: 30px;
}

.button.-cv:hover {
    transform: scale(1.08);
}

.button.-repositorio {
    background-color: #7a4451;
    width: 230px;
    height: 135px;
    border: 5px solid #300f17;
    border-radius: 50%;
    box-shadow: 
    15px 15px 0px #502834,
    18px 17px 0px #000,
    40px 35px 0px #2d10171f;
    text-decoration: none;
    text-align: center;
    font-family: 'Press Start 2P', 'sans-serif';
    font-size: 35px;
    color: #ff9b9b;
    padding: 105px 0px 0px 0px;
    transition: transform 150ms linear;
    margin: 0px 30px 0px 20px;
}

.button.-repositorio:hover {
    position: relative;
    box-shadow: 
    10px 8px 0px #502834,
    13px 10px 0px #000,
    35px 30px 0px #2d10171f;
    transform: translate(5px, 6px);
}

.button.-repositorio:active {
    transform: translate(17px,20px);
    box-shadow: 4px 1px 0px #000;
}