.joystick {
    display: flex;
    align-items: center;
    margin: 0px 100px 0px 0px;
}

.joystick.-base{
    background-color: #502834;
    width: 300px;
    height: 300px;
    border: 5px solid #000;
    border-radius: 50%;
}

.joystick.-ball{
    background-color: #7a4451;
    width: 200px;
    height: 200px;
    border: 5px solid #300f17;
    border-radius: 50%;
    box-shadow: 
    0px 0px 0px gray,
    30px 20px 0px #0000001f;
    margin: 0px 0px 90px 0px;
}

.joystick.-buttons {
    flex-direction: column;
}

.joystick.-buttons2 {
    margin: 50px 0px 0px 0px;
}