.main-title {
    text-align: center;
    font-family: 'Press Start 2P', 'sans-serif';
    font-size: 80px;
    color: #fff;
    text-shadow: 3px 5px 0px #000C27;
}

.main-title.-second {
    text-shadow: none;
    font-size: 45px;
    padding: 50px 0px 0px 0px;
}

.main-title.-tirtle {
    text-shadow: none;
    font-size: 50px;
    padding: 50px 0px 0px 0px;
}