.paragraph {
    font-family: 'Fira Code', 'sans-serif';
    text-align: justify;
    color: #fff;
    font-size: 30px;
    width: 1000px;
    margin: 180px 0px 0px 0px;
    border: 4px solid #fff;
    border-radius: 35px;
    padding: 20px;
}