.section {
    background-color: #003A55;
    width: 100%;
    height: 800px;
    border-bottom: 6px solid #000C27;
    
}

.section .sobre {
    display: flex;
    justify-content: center;
}

.section .foto {
    width: 400px;
    border: 6px solid #cfcfcf;
    margin: 50px 0px 0px 150px;
}

.section.-habilidades {
    background-color: #006764;
}

.section.-repositorios {
    background-color: #4FA3A7;
}