.skill-tec {
    display: flex;
    font-family: 'Press Start 2P', 'sans-serif';
    color: #fff;
    font-size: 25px;
    margin: 20px 0px 20px 0px;
    align-items: center;
}

.skill-tec .icon {
    width: 90px;
    margin: 0px 30px 0px 0px;
}

.skill-tec .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}